<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--配置日志输出-->
        <setting name="logImpl" value="LOG4J2"/>
    </settings>

    <!--配置别名 -->
    <typeAliases>
        <package name="com.dnsoft.JavaEEChapter18.core.pojo" />
    </typeAliases>

    <!--配置Mapper的位置 -->

</configuration>
